/** GLOBAL **/
li {
    list-style: none;
}

/** TAXONOMY TREE **/
#first-layer {
    padding-left: 0;
}

a.active {
    color: red;
}

.children {
    display: none;
}

.children.active {
    display: block;
}


/** DATA LIST **/
.data__item {
    padding: 3px 0 4px 0;
    margin: 4px 0;
}

.data__date {
    display: block;
}

/* Loading animations */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(250, 250, 250, 1);
    border-top-color: #4C4C4C;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
